<div class="container animate__animated animate__fadeInRight">
    <form (ngSubmit)="registro()" [formGroup]="form" autocomplete="off">
        <div class="form-group">
            <label>Usuario</label>
            <input type="text" class="form-control" formControlName="usuario" [class.is-invalid]="usuarioNoValido">
            <small *ngIf="usuarioNoValido" class="text-danger">Campo requerido. Mínimo 6 caracteres</small>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" [class.is-invalid]="passwordNoValido">
            <small *ngIf="passwordNoValido" class="text-danger">Campo requerido. Mínimo 6 caracteres</small>
        </div>
        <div class="form-group">
            <label>Nickname</label>
            <input type="text" class="form-control" formControlName="nickname" [class.is-invalid]="nicknameNoValido">
            <small *ngIf="nicknameNoValido" class="text-danger">Campo requerido. Mínimo 4 caracteres</small>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email" [class.is-invalid]="emailNoValido">
            <small *ngIf="emailNoValido" class="text-danger">Campo requerido. Debe introducir un email válido.</small>
        </div>
        <div class="form-group">
            <label>Fecha de nacimiento</label>
            <input type="date" class="form-control" formControlName="fechaNacimiento" [class.is-invalid]="fechaNacimientoNoValido">
            <small *ngIf="fechaNacimientoNoValido" class="text-danger">Campo requerido. Debe ser anterior a hoy</small>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary btn-block">Registrarse</button>
        </div>
    </form>
</div>