<div class="container animate__animated animate__fadeInRight animate__fast">
    <p>¿No tienes cuenta? Regístrese <a routerLink="/registro">aquí</a></p>
    <form (ngSubmit)="login()" [formGroup]="form" autocomplete="off">
        <div class="form-group">
            <label>Usuario</label>
            <input type="text" class="form-control" formControlName="usuario" [class.is-invalid]="usuarioNoValido">
            <small *ngIf="usuarioRequerido" class="text-danger">Campo requerido</small>
            <small *ngIf="usuarioIncorrecto" class="text-danger">El usuario no existe</small>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" [class.is-invalid]="passwordNoValido || passwordIncorrecta" (keyup)="passwordIncorrecta = false">
            <small *ngIf="passwordNoValido" class="text-danger">Campo requerido</small>
            <small *ngIf="passwordIncorrecta" class="text-danger">Password incorrecta</small>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-success btn-block" [ngClass]="{'disabled': form.invalid}">Iniciar sesión</button>
        </div>
    </form>
</div>